@tailwind base;
 @tailwind components;
 @tailwind utilities;

.primary-color {
  color : #27b294;
}

.secondary-color {
  color : #4e395f;
}

.bg-primary-color {
  background-color : #27b294;
}

.bg-secondary-color {
  background-color : #ea676b;
}

.border-primary-color {
  border-color : #27b294;
}

.border-tertiary-color {
  border-color : #ea676b;
}